body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}
#action-btn {
    padding: 10px 20px;
    background-color: blue;
    color: rgb(170, 156, 156);
    border: none;
    cursor: pointer;
}
